<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Wishlist</title>
</head>
<body>
    <nav><a href="/">Home</a> 
        <a href="community">Community</a>
        <a href="/auth/sign-out">Sign Out</a>
    </nav>
    <h1>Your Wishlist</h1>
    <ul>
    <% items.forEach(item => { %>
        <li><a href="/users/<%= user._id %>/wishlist/<%= item._id %>"><%= item.name %></a></li>
    <% }); %>
</ul>
    <a href="/users/<%= user._id %>/wishlist/new">Add Item</a>
</body>
</html>