<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Your Wishlist</title>
</head>
<body>
    <nav>
        <div>
        <button class="nav"><a href="/" class="nav">Home</a></button> 
        <button class="nav"><a href="/community" class="nav">Community</a></button>
    </div>
    <div>
        <button class="nav"><a href="/auth/sign-out" class="nav">Sign Out</a></button>
    </div>
    </nav>
    <section class="header">
    <h1>Your Wishlist</h1>
    <button><a href="/users/<%= user._id %>/wishlist/new" class="action">Add Item</a></button>
</section>
<main>
    <% items.forEach(item => { %>
        <button id="item"><a href="/users/<%= user._id %>/wishlist/<%= item._id %>"><%= item.name %></a></button>
    <% }); %>
</main>
</body>
</html>