<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Home Page</title>
</head>
<body>
    <div class="home">
    <% if (user){ %>
        <h1>Welcome to the Wishlist Tracker, <%= user.username %></h1>
        <button><a href="users/<%= user._id %>/wishlist">View wishlist</a></button>
        <button><a href="/community">Community</a></button>
        <button><a href="/auth/sign-out">Sign Out</a></button>
    <% } else { %>
        <h1>Welcome to the Wishlist Tracker, guest.</h1>
    <button><a href="/auth/sign-up">Sign up</a> </button>
    <button id="sign-in"><a href="/auth/sign-in">Sign in</a> </button>
    <% } %>
</div>
</body>
</html>