@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap'); 

body {
    background-color: rgb(15, 77, 176);
    color: white;
}

h1{
    font-size: 65px;
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.home {
    text-align: center;
    margin: 150px 0 0 0;
}

.home button{
    height: 100%;
    font-size: 50px;
    padding : 30px;
    display:block;
    border-radius: 70px;
    justify-self: center;
    margin: 10px;
    width: 5em;
    border-style: solid;
    border-color: white;
    background-color: rgb(163, 212, 255);
}

.home button:hover{
    background-color:rgb(91, 170, 239);
}

.home a{
    color:rgb(15, 77, 176);
    font-family: "Dongle", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
}

.auth {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 130px 0 0 0;
    font-family: "Dongle", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
}

.auth h1{
    margin: 20px 0;
}

.auth form{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-content:space-between ;
}

.auth label{
    font-size: 40px;
}

.auth input{
    align-self: flex-start;
    width: 200px;
    height: 50px;
    margin: 0 0 0 615px;
    text-align: center;
}

.auth button{
    align-self: flex-start;
    margin: 20px 0 0 660px;
    font-size: 40px;
    padding : 5px 20px;
    font-family: "Dongle", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    border-radius: 70px;
    border-style: none;
    background-color: rgb(163, 212, 255);
}

.auth button:hover{
    background-color: rgb(91, 170, 239);
}