body {
    background-color: rgb(15, 77, 176);
    color: white;
}

.home {
    text-align: center;
    margin: 270px 0 0 0;
}

.home h1{
    font-size: 65px;
}

.home button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 80px 0 0;
    height: 100%;
    font-size: 40px;
    padding : 30px;
    display:inline-table;
}
